/*
    You can add your own custom styles here.
*/
.entry {
  display: flex;
  flex-direction: column; /*画像、テキストを縦並びに切り替え*/
  align-items: flex-start;
  gap: 5px;
  /* margin-bottom: 2rem; */
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.entry-text {
  flex: 1;
}
.entry-images {
  display: grid;    /* もともとflex */
  grid-template-columns: repeat(4, 1fr);    /* 横4枚 */
  gap: 3px 3px;    /* 画像間のスペース（横、縦） */
  width: 100%;    /* 画像エリアの幅 */
  margin: 0px;
  padding: 3px;
  flex-wrap: wrap;    /* 画像が多い場合は折り返す */
}

.entry-images img {
  width: 100%;
  height: auto;    /* 高さ自動で縦横比維持 */
  object-fit: cover;    /* 縦横比を崩さずトリミング */
  border-radius: 7px;    /* 高さ自動で縦横比維持 */
  border: 0px solid #ccc;
  /* width: calc(25% - 5px); */    /* 最大4枚横並び */
}

@media (max-width: 600px) {
  .images img {
    width: calc(50% - 5px);    /* 画面が小さければ2列に */
  }
}

@media (max-width: 400px) {
  .images img {
    width: 100%;             /* さらに小さければ1列 */
  }
}

.entry-images .pswp-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.entry-images .pswp-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
