
{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $paginator := .Paginate (.Pages.ByDate.Reverse) }}
{{ range $paginator.Pages }}
  <div class="card">
    {{ with .Resources.GetMatch "images/*" }}
      <img src="{{ .RelPermalink }}" alt="">
    {{ end }}
    <div class="text">
      <p>{{ .Summary }}</p>
      <small>{{ .Date.Format "2006/01/02 15:04" }}</small>
    </div>
  </div>
{{ end }}

<div class="pagination">
  {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">Prev</a>
  {{ end }}
  {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">Next</a>
  {{ end }}
</div>
{{ end }}
